body {
	font-family:\5B8B\4F53,Arial Narrow,arial,serif;
	font-size:14px;
	color:#000;
	margin:0;
	padding:0;
	text-align:left
}
h1,h2,h3,h4,h5,h6 {
	font-size:14px;
	margin:0;
	padding:0;
	font-weight:400
}
a {
	color:#000;
	text-decoration:none
}
a:hover {
	color:red;
	text-decoration:none
}
.bg {
	background:#FFF0F5;
	padding:15px;
	overflow:hidden
}
.tame {
	height:36px;
	line-height:28px;
	clear:both;
	overflow:hidden
}
.tame h1,.tame h2,.tame h3 {
	font-size:18px;
	font-family:"Microsoft YaHei","΢���ź�";
	overflow:hidden;
	color:#FC8BBB;
	font-weight:700;
	float:left
}
.tame span {
	float:right;
	font-size:14px
}
.tame h1 a,.tame h2 a,.tame h3 a {
	color:#FC8BBB
}
.tov {
	height:29px;
	width:350px;
	font-size:14px;
	overflow:hidden;
	clear:both
}
.tov span {
	float:left;
	overflow:hidden;
	background:#FEDDEB;
	line-height:28px;
	text-align:center;
	cursor:pointer;
	width:45.2px;
	border-bottom:solid 1px #CEE6D6
}
.tov span.av {
	height:29px;
	background:#fff;
	border-bottom:0;
	color:#C00;
	font-weight:700
}
.tov span.mv {
	border-left:0
}
.tists {
	clear:both;
	padding-top:10px;
	padding-bottom:5px;
	font-size:14px
}
.tists ul {
	display:none
}
.tists li {
	height:30px;
	overflow:hidden;
	line-height:30px;
	background:url(icon.png) 3px 13px no-repeat;
	padding-left:12px
}
.tists li span a {
	float:left;
	color:#999;
    width:45.2px
}